html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #5daeff;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 20px;
  margin-bottom: 9px;
  padding: 20px;
}

.centerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px
}

.paper {
  border: 5px red solid;
}

.resultLocation {
  font-size: 30px;
}
