html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #5daeff;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  border: 1px black solid;
  margin: 60px;
  padding: 20px;
  background-color: #82b4e6;
}

.paper {
  border: 5px red solid;
}

.resultLocation {
  font-size: 30px;
}
